<div id="about-us" class="container my-5 about-us">
  <div class="row">
    <div class="col-md-6">
      <img src="<%= asset_path('pexels-ivan-samkov-5676744.jpg') %>" class="img-fluid rounded" alt="About Us Image">
    </div>
    <div class="col-md-6">
      <h2>About Us</h2>
      <p>Welcome to our company! We are dedicated to providing the best service in the industry. Our team of professionals is committed to exceeding your expectations and delivering exceptional results. With years of experience and a passion for excellence, we strive to be the leaders in our field. Thank you for choosing us and we look forward to working with you!</p>
    </div>
  </div>
</div>

<style>

html {
  scroll-behavior: smooth;
}

.about-us {
  margin: 50px 0;
  /* margin-bottom:150px; */
}

.about-us img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-us h2 {
  margin-bottom: 20px;
}

.about-us p {
  font-size: 18px;
  line-height: 1.6;
}

/* Adding bottom margin specifically */
.about-us {
  margin-bottom: 500px;
}
</style>
